/*==========
variable css start
==============*/
:root {
  --ff1: 'Nunito';
  --ff2: 'Segoe UI Regular'; 
  --ff3: 'Segoe UI Bold'; 
  --brand:#416091;
  --blue:#E781B1;
}
  
/*==========
variable css end
==============*/



/*========= LoadingのためのCSS ===============*/

.content {
  width: 100%;
  height: 100vh;
  background-color: #2e9cd2;
  display: flex;
  justify-content: center;
  align-items: center;
}
.content .loading {
  width: 80px;
  height: 50px;
  position: relative;
}
.content .loading p {
  top: 0;
  padding: 0;
  margin: 0;
  color: #c8d9e2;
  font-family: "Oxygen", sans-serif;
  animation: text 3.5s ease both infinite;
  font-size: 14px;
  letter-spacing: 1px;
}

/*========= レイアウトのためのCSS ===============*/



/*==========================
responsive NAV bar 
==================
========================*/
.brand_button {
	color: #ffffff;
	font-family: 'Nunito', sans-serif;
	font-size: 14px;
	margin-right: 3px;
	line-height: 40px;
	font-weight: 400;
	padding-right: 0px;
	display: block;
	background: var(--brand);
	height: 40px;
	width: 134px;
	text-align: center;
	border-radius: 7px;
	transition: 0.4s;
	cursor: pointer;
	margin-left: 0px;

	transition: 0.4s;
	padding-bottom: 21px;
}


.brand_button:hover{
  background-color: var(--blue);
  color: white;
}
.heading_p{
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  font-family: 'Nunito', sans-serif;
  color: rgb(161, 156, 156) !important;

  margin-top: 14px;
  padding-right: 7px;
}
.heading_large {
	font-style: normal;
	font-weight: 700;
	font-size: 38px;
	line-height: 64px;
	color: #000000;
	font-family: 'Nunito', sans-serif;
}
.heading_small{
  font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 19px;
color: #000000;
font-family: 'Nunito', sans-serif;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none; }

a {
  text-decoration: none; }

.bd-grid {
  max-width: 1170px;
  display: grid;
  grid-template-columns: 100%;
  margin-left: 1.5rem;
  margin-right: 1.5rem; }
 .header .dropdown-menu{
    padding-bottom: 23px !important;
  }
   
  .header {
  
    left: 0;
    width: 100%;
    height: var(--header-height);
    padding: 0 1rem;
    background-color: rgba(255, 255, 255, 0);
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  .header .header__toggle {
    font-size: 30px;
    cursor: pointer;
    padding-right: 20px;
    position: absolute;
    right: 0; }

/*responsive*/
@media screen and (min-width: 1024px) {
  .bd-grid {
    margin-left: auto;
    margin-right: auto; } }
@media screen and (max-width: 768px) {
 
  .nav {
    position: fixed;
    top: 0;
    left: -100%;
    background-color: var(--brand);
    width: 80%;
    height: 100vh;
    padding: 2rem 0;
    z-index: var(--z-fixed);
    transition: .5s;
    overflow-y: auto;
    color: white;
    z-index: 9999;
  }
  .show {
    left: 0;
    overflow: hidden;
    z-index: 9999;
  }
   }
@media screen and (min-width: 768px) {
  body {
    margin: 0; }

  .header {
    height: calc(var(--header-height) + 1rem); }
    .header__logo, .header__toggle {
      display: none; }

  .nav {
    width: 100%; }

  .header__toggle {
    padding-right: 10px; } }
@media (max-width: 768px) {
  .header .nav .menu {
    flex-direction: column; }
    .header .nav .menu .logo {
      display: none; }
    .header .nav .menu .login-contact {
      flex-direction: column;
      text-align: center; }
      .header .nav .menu .login-contact a {
        color: white;
        background-color: #8582e600 !important;
        text-align: center;
        margin-right: 30px;
        border-radius: 30px;
        height: 30px;
        line-height: 30px !important; }
      .header .nav .menu .login-contact .num {
        background-color: #8682e6 !important;
        text-align: center;
        margin-right: 30px; }
    .header .nav .menu .nav-item .list {
      flex-direction: column;
      text-align: center;
      color: white; }
      .header .nav .menu .nav-item .list li a {
        color: white; } }
@media screen and (min-width: 576px) {

  .nav {
    width: 288px; } }
.show {
  left: 0; }

/*==========================
=============================
==============================
=============================
responsive NAV bar end
===============================
=============================

========================*/
/*==========
menu css start
==============*/
.header .nav .menu .logo img{
  margin-top: 20px;
}
.header .header__logo {
  position: relative; }
  .header .header__logo a img {
    display: none;
    position: absolute;
    top: -100px;
    left: 0; }
.header .nav .menu .logo a {
  line-height: 50px; }
  .header .nav .menu .nav-item ul {
    margin-top: -9px;
  }
  .header .nav .menu .nav-item ul li{
    list-style: none;
    display: flex;
    align-items: center;
  }
.header .nav .menu .nav-item ul li a {
 
  font-family: 'Nunito', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  /* identical to box height */
  top: 10px;
  letter-spacing: 1.2px;
  
  color: #77838F;
  
  padding-right: 30px;
  position: relative;
 }
  .header .nav .menu .nav-item ul li a:hover {
    color: #000; }
  .header .nav .menu .nav-item ul li a::after {
    content: "";
    width: 0%;
    height: 2px;
    background-color: #4396CE;
    position: absolute;
    bottom: -13px;
    left: 0;
    transition: 0.4s; }
  
  
    .header .nav .menu .nav-item ul li .num:hover {
      transition: 0.4s !important;
  
    }


    
      .header .nav .menu .list .num {
  
        color: #ffffff;
        font-family: 'Nunito', sans-serif;
        font-size: 16px;
        margin-right: 3px;
        line-height: 50px;
        font-weight: 400;
        padding-right: 0px;
        display: block;
        background: var(--brand);
      
        height: 53px;
        width: 120px;
        text-align: center;
        border-radius: 7px;
        transition: 0.4s;
        cursor: pointer;
        margin-left: 8px;
        margin-top: 5px;
      }

    .header .nav .menu .list .num:hover {
      background-color: var(--blue);
      color: #ffffff ;
    }
       
      .logo-text{
        margin-left: 30px;
      }
   .header .nav .menu .nav_dropdown button{
    margin-left: 30px;
    font-size: 33px;
    margin-top: 20px;
    border: 2px solid rgba(0, 0, 0, 0) !important;
    background-color: rgba(255, 255, 255, 0) !important;
   }
/*==========
menu css END
==============*/



/* ==================section_one======================= */
.our-patner .patner-slider .slick-center img {
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.section_one {
	margin-top: 88px;
}
.section_one  .right_radus{
  background-color: var(--brand);
  height: 200px;
  width: 425px;
  border-top-right-radius: 200px;
  border-top-left-radius: 200px;
  float: right;
  margin-right: 30px;
}
.section_one .right_side {
	background-color: var(--brand);
	height: 353px;
	width: 425px;
	position: relative;
	float: right;
	margin-right: 30px;
}
.section_one .right_side .animal_attack{ 
  position: relative;
  left: -52px;
  top: -70px;
}
.section_one .right_side .seal_batch {
	position: relative;
	right: -298px;
	top: -257px;
	z-index: 09;
}
.section_one .right_side .pets_img img {
	height: 534px;
	position: absolute;
	top: -97px;
	left: 4px;
	z-index: 3;
	width: 400px;
}
.section_one .left_side {


  margin-top: 100px;

}
.section_one .left_side .box {
	height: 500px;
	width: 500px;
	position: absolute;
	top: 106px;
	left: 238px;
	z-index: -1;
}
.section_one .left_side h2{
  font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 19px;
color: #000000;
font-family: 'Nunito', sans-serif;
}
.section_one .left_side h3 {
	font-style: normal;
	font-weight: 700;
	font-size: 48px;
	line-height: 64px;
	color: #000000;
	font-family: 'Nunito', sans-serif;
	padding-right: 172px;
}
.section_one .left_side p {
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 24px;
	color: #999999;
	font-family: 'Nunito', sans-serif;
	padding-right: 147px;
}

.section_one .left_side .book{
  background-color: var(--brand);
  border-radius: 30px;
  color: white;
  display: flex;
  width: 185px;
  justify-content: center;
  align-items: center;
  transition: 0.4s;
}
.section_one .left_side .book:hover{
  background-color: var(--blue);
}

.section_one .left_side .book p{
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  font-family: 'Nunito', sans-serif;
  color: white !important;
  border-right: 2px solid white;
  margin-top: 14px;
  padding-right: 7px;
}
.section_one .left_side .book img{
  margin-left: 7px;
}


/* =====================section_two============== */
.section_two {
  margin-top: 40px;
}
.section_two .slider{
  padding: 30px 30px;
}
.section_two .slider .previous-arrow {
	position: absolute;
	bottom: 153px;
  left: -17px;
	z-index: 1111111;
	color: #000000;
	font-size: 39px;
	padding: 9px 11px;
	transition: 0.3s;
	cursor: pointer;
	border-radius: 100px;
	background-color: #ffffff34 !important;
}
.section_two .slider .next-arrow {
	position: absolute;
	bottom: 153px;
	right: -17px;
	z-index: 1111111;
	color: #000000;
	font-size: 39px;
	padding: 9px 11px;
	transition: 0.3s;
	cursor: pointer;
	border-radius: 100px;
	background-color: #ffffff34 !important;
	/* font-weight: 402; */
}
.section_two .heading h1{
  font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 19px;
color: #000000;
font-family: 'Nunito', sans-serif;
text-align: center;

}

.section_two .heading h2{
  text-align: center;
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 64px;
color: #000000;
font-family: 'Nunito', sans-serif;
}

.section_two .slider .box .img {
	display: flex;
	justify-content: center;
	height: 89px;
}
.section_two .slider .box {
	margin: 10px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
	border-radius: 5px;
	height: 207px;
	margin-top: 43px;
	margin-bottom: 46px;
}
.section_two .slider .box h2{
  font-family: 'Nunito', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 27px;
  text-align: center;
  color: #333333;
}
.section_two .slider .box h3 {
	font-family: 'Nunito', sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 24px;
	padding: 0px 36px;
	text-align: center;
	color: #999999;
}


/* =====================section_three========== */
.section_three{
margin-top: 70px;
}
.section_three .banner .img {
  position: relative;
  top: -50px;
}
.section_three .banner .img img {
	height: 471px;
	margin-left: -43px;
	/* width: 500px; */
	/* width: 100%; */
	/* padding: revert; */
	position: relative;
	top: 0px;
	width: 500px;
}


.section_three .banner {
	position: relative;
	height: 519px;
	width: 411px;
	background-color: var(--brand);
	border-top-right-radius: 121px;
}

.section_three .banner .pets_icon{
  position: relative;
  top: -71px;
  left: -61px;

}
.section_three .banner .pets_icon2 {
	position: relative;
	bottom: 142px;
	left: 375px;
}
.section_three .details .one h1{
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  color: #000000;
  font-family: 'Nunito', sans-serif;
  
}
.section_three .details .one h2 {
	font-style: normal;
	font-weight: 700;
	font-size: 48px;
	line-height: 64px;
	color: #000000;
	font-family: 'Nunito', sans-serif;
	padding-right: 147px;
}
.section_three .details .one p {
	font-style: normal;
	font-weight: 600;
	font-size: 14px;
	line-height: 19px;
	font-family: 'Nunito', sans-serif;
	color: rgb(161, 156, 156) !important;
	border-right: 2px solid white;
	margin-top: 14px;
	padding-right: 173px;
}
.section_three .details .two .dot{
  display: flex;
  margin-bottom: 30px;
}
.section_three .details .two a {
  color: rgb(161, 156, 156) !important;
  margin-right: 30px;

  font-family: 'Nunito', sans-serif;
  width: 150px !important;
}
.section_three .details .two a i{
  font-size: 9px;
  background-color: var(--brand);
  border-radius: 100px;
  padding: 7px;
  color: rgb(255, 255, 255) !important;
  position: relative;
  top: -2px;
  

}



/* =================section_foure============= */
.section_foure {
margin-top: 70px;
}
.section_foure .slider_pet {
  display: flex;
  justify-content: space-between;
}
.section_foure .slider_pet .previous-arrow{
  display: none !important;
} 
.section_foure .slider_pet .next-arrow {
	position: absolute;
	bottom: -34px;
	width: 50px;
	height: 50px;
	/* border-radius: 100%; */
	right: 628px;
	z-index: 1111111;
	color: #ffffff;
	font-size: 30px;
	padding: 11px 14px;
	transition: 0.3s;
	cursor: pointer;
	border-radius: 100px;
	background-color: #000000 !important;
	/* font-weight: 402; */
}
/* .section_foure .slider1 .previous-arrow {
	position: absolute;
  bottom: 109px;
  left: -17px;
	z-index: 1111111;
	color: #000000;
	font-size: 25px;
	padding: 9px 11px;
	transition: 0.3s;
	cursor: pointer;
	border-radius: 100px;
	background-color: #ffffff34 !important;
}
.section_foure .slider1 .next-arrow {
	position: absolute;
  bottom: 109px;
  right: -17px;
	z-index: 1111111;
	color: #000000;
	font-size: 25px;
	padding: 9px 11px;
	transition: 0.3s;
	cursor: pointer;
	border-radius: 100px;
	background-color: #ffffff34 !important;
} */
.section_foure .heading h2{

  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 64px;
  color: #000000;
  font-family: 'Nunito', sans-serif;
}
.section_foure  .slider_pet  .box{
  margin: 20px;
  display: flex;
  height: 279px;
  margin-bottom: 40px;

border: 1px solid rgba(0, 0, 0, 0.253);
border-top-left-radius: 15px;
border-top-right-radius: 15px;

}
.section_foure .slider_pet .box .brand_button{
  margin-left: 30px;
  margin-top: 40px;
}
.section_foure .slider_pet .box .brand_button i{
  padding-right: 5px;
}

.section_foure .slider_pet .box h2 {
	font-style: normal;
	font-weight: 700;
	font-size: 28px;
	line-height: 64px;
	color: #403d3d;
	font-family: 'Nunito', sans-serif;
	/* text-align: center; */
	margin-top: 41px;
	margin-left: 30;
}

.section_foure .slider_pet .box .img img {
	width: 133px;
	height: 169px;
}
.section_foure .slider_pet .box .img {
	background-color: var(--brand);
  width: 183px;
  height: 279px;
  border-top-left-radius: 15px;
	display: flex;
	justify-content: center;
	align-items: center;

}
/* ========================section_five======== */
.section_five{
  margin-top: 129px;
}
.section_five .heading {
  border-bottom: 2px solid black;
  padding-bottom: 20px;

}

.section_five .product .product_details{
  padding-top: 40px;
  padding-bottom: 30px
}
.section_five .product .product_details .box{
  padding-bottom: 20px;
  border-bottom: 2px solid black;
}
.section_five .product .product_details .image{
  
  height: 200px;
  width: 150px;
  background-color: var(--brand);
}
.section_five .product .product_detail p{
  text-align: center;
  font-weight: 400 !important;
font-size: 14px !important;
line-height: 24px !important;
color: #646464 !important;
font-family: 'Nunito', sans-serif;
}

.section_five .product .product_detail .box{
  padding-bottom: 20px;
  border-bottom: 2px solid black;
}
            
.section_five .product  .star a{
  color: rgb(255, 7, 152) !important;
}
.section_five .product .price p{
  font-style: normal;
  font-weight: 700;
  font-size: 20px;

  color: #000000;
  font-family: 'Nunito', sans-serif;
}
.section_five .product .cart{
  display: block;
  border-radius: 30px;
  padding: 10px;
  background-color: var(--brand);
  text-align: center;
  color: white;
}
.section_five .product .cart:hover{
  background-color: var(--blue);
  color: wheat;
}
/* ========================section_six======== */
.section_six{
  margin-top: 130px;
  margin-bottom: 50px;
}
.section_six .image_slider .previous-arrow {
  display: none !important;
}
.section_six .image_slider .next-arrow {
	position: absolute;
	bottom: -26px;
	width: 50px;
	height: 50px;
	/* border-radius: 100%; */
	right: 628px;
	z-index: 1111111;
	color: #ffffff;
	font-size: 30px;
	padding: 11px 14px;
	transition: 0.3s;
	cursor: pointer;
	border-radius: 100px;
	background-color: #000000 !important;
	/* font-weight: 402; */
}
.section_six .image_slider .slick-center img {
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
	position: relative;
	top: -50px;
	transition: 0.4s;
	width: 530px !important;
	left: -49px;
}
.section_six .image_slider .box{
  margin-top: 60px;
  width: 557px;
height: 397px;


}
.section_six .image_slider .box img {
	width: 483px;
	height: 397px;
}
/* ================ section_seven========*/

.section_seven .slick-dots {
	display: flex !important;
	justify-content: center;
}
.section_seven .slick-dots li button {
	display: none !important;
}
.section_seven .slick-dots li {
	width: 13px;
	height: 13px;
	background: #58585812;
	border-radius: 10px;
	margin: 0 2px;
	cursor: pointer;
	transition: all .3s ease-in-out;
	font-size: 0px !important;
  margin: 10px;
}
.section_seven .slick-dots li.slick-active {
	background: #0c0c0c;
	cursor: default;

}

.section_seven{
  margin-top: 70px;
  margin-bottom: 50px;
}
.section_seven .text p{
  font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 24px;
/* or 171% */
padding-right: 100px;

font-family: 'Nunito', sans-serif;
/* Medium Dark */

color: #646464;
}
.section_seven .heading_p {
	margin-top: 0px !important;
	padding-right: 99px;
	line-height: 26px;
	position: relative;
	top: -10px;
}
.section_seven .slider2 .box {
	height: 262px;
	margin: 10px;
	padding: 20px;
	box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
	margin-top: 50px;
	margin-bottom: 35px;
}
.section_seven .slider2 .box .icon{
  position: relative;
  top: -37px;
  left: -6px;

}
.section_seven .slider2 .box .user{
  border-top: 1px solid rgba(0, 0, 0, 0.115);
  display: flex;
}
.section_seven .slider2 .box .user .box {
	padding: 0px;
	margin: 10px;
	box-shadow: none;
	display: flex;
	margin-top: 19px;
}
.section_seven .slider2 .box .user .box .one{
  margin-right: 20px;
  height: 50px;
  width: 50px;
  border-radius: 100px;
  background-color: var(--blue);
  display: flex;
  justify-content: center;
  align-items: center;
}
.section_seven .slider2 .box .user .box .one img{
  width: 100%;
  border-radius: 100%;
}
.section_seven .slider2 .box .user .box .two h2{
  font-style: normal;
  font-weight: 600;
  font-size: 14px;

  font-family: 'Nunito', sans-serif;
  color: rgb(0, 0, 0) !important;
}
.section_seven .slider2 .box .user .box .two p{
  font-style: normal;
  font-weight: 600;
  font-size: 14px;

  font-family: 'Nunito', sans-serif;
  color: rgb(161, 156, 156) !important;
}
.section_seven .slider2 .box .user .star {
	margin-top: 14px;
	margin-left: 20px;
}
.section_seven .slider2 .box .user .star a{
  color: var(--brand);
  margin-top: 30px;
  
}
.section_seven .end{
  margin-top: 30px;
  display: flex;
  justify-content: center;
  
}
.section_seven .end a{

 padding: 10px;
 border-radius: 9px;
 border: 2px solid black;
 color: black;
 font-family: 'Nunito', sans-serif;
}

/* ============section_eight */
.section_eight{
  padding-top: 40px;
  padding-bottom: 50px;
  background-color: #FFFFFF;
  border-bottom: 1px solid rgba(0, 0, 0, 0.115);
}
.section_eight .input i {
	margin-right: 20px;
	margin-left: 20px;
	margin-top: 12px;
	font-size: 20;
	color: #0000003d;
}
.section_eight .input {
	margin-top: 30px;
	margin-bottom: 30px;
	display: flex;
	padding: 18px 17px;
	background-color: #F0F0F0;
	border-radius: 9px;
}

.section_eight .input input{
  outline: none;
  background-color: #F0F0F0;
  border: 2px solid rgba(0, 0, 0, 0);
  width: 80%;
}


/* ============= footer=======*/
.footer{
  padding-top: 30px;
  padding-bottom: 10px;

}
.footer .one  .text .box i{
  display: flex;
  align-items: center;
  margin-right: 20px;
  color: rgb(161, 156, 156) !important;

}
.footer .one .input {
	/* padding: 10px 10px; */
	padding-right: 0px !important;
	padding-top: 0px !important;
	padding-bottom: 0px !important;
	border: 1px solid rgba(0, 0, 0, 0.256);
	border-radius: 4px;
	width: 79%;
	display: flex;
	justify-content: space-between;
	margin-left: 35px;
}
.footer .one .input inpit:placeholder{
font-size: 11px;
}
.footer .one   .input input{
  background-color: transparent !important;
  border: 2px solid rgba(0, 0, 0, 0);
  width: 77%;
  outline: none;
}
.footer .one .input i {
	background-color: #53515157;
	padding: 12px 11px;
	border-radius: 4px;
}
.footer .one {
  padding-right: 30px;
}
.footer .two .box .img img{
  height: 60px;
  width: 69px;
  border-radius: 6px;
}
.footer .two .heading h1{
  font-size: 20px !important;
  padding-bottom: 30px;
}
.footer .two .box {
  margin-bottom: 20px;
  display: flex;
}
.footer .two .box  .img{
  height: 60px;
  width: 65px;
border-radius: 6px;
background-color: #416091;
}
.footer .two .box .text {
 padding-left: 20px;
}
.footer .two .box .text h2{
  margin-top: 0;
  padding-bottom: 0px ;

}
.footer .two .box .text span{
  font-size: 10px;
  margin-top: 0;

}
.footer .three{
  justify-content: space-between;
}
.footer .three h1{
  font-size: 20px !important;
  padding-bottom: 30px;
}
.footer .three .dot a{
  display: block;
  flex-direction: column !important;
}
.footer .three .img{
  display: flex;
}
.footer .three .img .dot{
  width: 55px;
  height: 55px;
  background-color: var(--blue);
  margin-right: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
}
.footer .three .img .dot img{
  width: 55px;
  height: 55px;
  border-radius: 5px;
}
.footer .three .heading{
  margin-left: 50px;
}

.bottom{
  margin-top: 30px;
  padding-top: 30px;
  border-top: 1px solid rgba(0, 0, 0, 0.159);
}

.bottom p{
  font-family: 'Nunito';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 19px;
/* identical to box height */

text-align: center;
letter-spacing: 0.875px;

color: #77838F;

}








/* ================================================
================================================
============================================
==================================================
================================================
About section start
====================================================
=================================================
===================================================
================================================
*/

.about_one{
  height: 225px;
  background-color: var(--brand);
  display: flex;
  justify-content: center;
  align-items: center;
}


.about_one .heading h1{
  text-align: center;
  font-style: normal;
font-weight: 400;
font-size: 28px;
line-height: 42px;

text-align: center;
letter-spacing: 3.15636;
color: white;
font-family: 'Nunito', sans-serif;
padding-top: 50px;
}
.about_one .heading .breadcame span{
  font-family: 'Nunito', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: #a9a4a4;
  text-align: center;
  padding-left: 5px;
  align-items: center;
}
.about_one .heading .breadcame a {
  font-family: 'Nunito', sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 28px;
	color: #ffffff;
	text-align: center;
	align-items: center;
	border-right: 1px solid rgba(255, 255, 255, 0.509);
	padding-left: 23px;
}
.about_one .heading .breadcame{
  display: flex;
  justify-content: center;
  align-items: center;
display: block;

  
  letter-spacing: 1.57818px;
  

  
  width: 177px !important;
  height: 30px !important;
  border: 1px solid rgba(255, 255, 255, 0.509);
  border-radius: 6px;


  margin: auto;
}


.about_one .heading a span{
  color: #717171;
}












.about_two{

}
.about_two .contant{
  margin-top: 100px;
  padding-bottom: 50px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.379);
}
.about_two .contant .img{
  border-radius: 7px;
  background-color: var(--brand);
  width: 653px;
height: 439px;
filter: drop-shadow(0px 2px 48px rgba(0, 0, 0, 0.08));
}
.about_two .contant .img img{
  border-radius: 7px;
  width: 100%;
  
  width: 653px;
height: 439px;
 }

.about_two .contant .text h1{
  font-family: 'Nunito', sans-serif;
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 26px;
/* identical to box height, or 130% */

text-align: center;
letter-spacing: 1.25px;

color: #3B566E;

}
.about_two .contant .text {
	position: relative;
	top: 71px;
	left: -114px;
	padding: 20px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 595px;
	height: 292px;
	border-radius: 7px;
	background-color: #F9FAFF;
}
.about_two .contant .text_second {
	position: relative;
	top: 72px;
	left: 165px;
	z-index: 9;
}



.about_two .contant .text h2{
  font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 28px;
/* or 175% */
font-family: 'Nunito', sans-serif;
text-align: center;
letter-spacing: 0.88px;

color: #6F8BA4;

}























.about_three{
  height: 225px;
  background-color: var(--brand);
  display: flex;
  justify-content: center;
  align-items: center;
}


.about_three .heading h1{
  text-align: center;
  font-style: normal;
font-weight: 400;
font-size: 28px;
line-height: 42px;

text-align: center;
letter-spacing: 3.15636;
color: white;
font-family: 'Nunito', sans-serif;
padding-top: 20px;
}
.about_three .heading .breadcame span{
  font-family: 'Nunito', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: #a9a4a4;
  text-align: center;
  padding-left: 5px;
  align-items: center;
}
.about_three .heading .breadcame a {
  font-family: 'Nunito', sans-serif;

  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 18px;
  /* identical to box height */
  
  text-align: center;
  letter-spacing: 0.8125px;
  
  color: #FFFFFF;
  
}
.about_three .heading .breadcame{
  display: flex !important;
  justify-content: center !important;
  align-items: center;
display: block;

  
  letter-spacing: 1.57818px;
  

  
  width: 227px !important;
  height: 45px !important;
  border: 1px solid rgba(255, 255, 255, 0.509);
  border-radius: 7px;


  margin: auto;
}









.about_four{
  margin-top: 100px;
  padding-bottom: 100px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.181);
}


.about_four .heading h1{
  font-family: 'Nunito', sans-serif;
font-style: normal;
font-weight: 400;
font-size: 30px;
line-height: 30px;
/* identical to box height, or 100% */

text-align: center;
letter-spacing: 1.29167px;

color: #3B566E;

}


.about_four .heading h2 {
	font-family: 'Nunito', sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 26px;
	text-align: center;
	letter-spacing: 1px;
	color: #6F8BA4;
	padding: 12px 350px;
}
.about_four .box{
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  width: 262px;
height: 259px;
border-radius: 8px;
}
.about_four .box .one{
  display: flex;
}
.about_four .box .one .left{
  border-top-left-radius: 8px;
  width: 76px;
  height: 85px;
  background-color: var(--blue);
}

.about_four .box .one .right{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.about_four .box .one .right h2{
	font-family: 'Nunito', sans-serif;
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 19px;
/* identical to box height */

letter-spacing: 0.602778px;

color: #3B566E;
margin-left: 23px;

}
.about_four .box .one .right p{
	font-family: 'Nunito', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.516667px;
  
  color: #6F8BA4;
  
}

.about_four .box .two{
  display: flex;
  justify-content: center;
}
.about_four .box .two .dot{
  margin-top: 30px;
  margin-bottom: 20px;
  width: 206px;
  height: 23px;
  background: #D9D9D9;
border-radius: 3px
}
.about_four .box .three p{
  font-family: 'Nunito', sans-serif;
  font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 26px;
/* or 186% */

text-align: center;
letter-spacing: 0.602778px;

color: #6F8BA4;
padding: 0px 20px;
}
/* ================================================
================================================
============================================
==================================================
================================================
About section end
====================================================
=================================================
===================================================
================================================
*/




/* ================================================
================================================
============================================
==================================================
================================================
Contact section 
====================================================
=================================================
===================================================
================================================
*/
.contact{
  margin-top: 100px;
  margin-bottom: 100px;
}
.contact .heading span {
	position: relative;
	top: -19px;
	left: -16px;
}
.contact .heading h1 {
	font-family: 'Nunito', sans-serif;
	font-style: normal;
	font-weight: 700;
	font-size: 36px;
	line-height: 49px;
	letter-spacing: 1px;
	padding-bottom: 50px;
	color: #000000;
	padding-right: 430px;
}

.contact .contact_content .lebel{
  font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 19px;
/* identical to box height */
font-family: 'Nunito', sans-serif;

color: #000000;
padding-bottom: 15px;
}
.contact .contact_content .input{
  width: 100%;
  height: 50px;
  border: 1px solid #77838F;
  margin-bottom: 30px;
}
.contact .contact_content .text_input textarea{
  width: 100%;
  height: 150px;
  border: 1px solid #77838F;
  margin-bottom: 30px;

}
.contact .contact_content .input input{

  width: 90%;
  height: 48px;
  border: 1px solid #77838f00 !important;
  outline: 0;
  padding-left: 20px;
}
.contact .contact_content .input input::placeholder {
  font-family: 'Nunito', sans-serif;
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 16px;
padding-right: 20px;
color: rgba(0, 0, 0, 0.4);
}
.contact .contact_content .text_input textarea::placeholder {
  font-family: 'Nunito', sans-serif;
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 16px;
padding-right: 20px;
color: rgba(0, 0, 0, 0.4);
}

.contact .contact_content .input_button {
	display: flex;
	justify-content: center;
	width: 403px;
	height: 45px;
	background-color: #000000;
	margin-left: 13px;
}

.contact .contact_content .input_button a {
	font-family: 'Nunito';
	font-style: normal;
	font-weight: 700;
	font-size: 16px;
	line-height: 22px;
	align-items: center;
	margin-top: 10px;
	color: #FFFFFF;
	margin-right: 11px;
}
.contact .contact_content .input_button img{
  font-family: 'Nunito';
width: 16px;

}
/* ================================================
================================================
============================================
==================================================
================================================
Contact section end
====================================================
=================================================
===================================================
================================================
*/















/* ================================================
================================================
============================================
==================================================
================================================
/* responsive===================
====================================================
=================================================
===================================================
================================================
*/



@media screen and (max-width: 575px) {
  /* ==================================
  ==================================
  ==about========================
  
  ==================================
  ==========================*/
  .about_three .heading h1 {
    text-align: center;
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 25px;
    text-align: center;
    letter-spacing: 3.15636;
    color: white;
    font-family: 'Nunito', sans-serif;
    padding-top: 20px;
  }
  .about_four .box {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    width: 100%;
    height: 264px;
    border-radius: 8px;
    margin-bottom: 30px;
  }
  .about_four .heading h2 {
    font-family: 'Nunito', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 1px;
    color: #6F8BA4;
    padding: 12px 5px;
  }
  .about_two .contant .text_second {
    position: relative;
    top: -51px !important;
    left: 165px;
    z-index: 9;
  }
  .about_two .contant .text {
    position: relative;
    top: 53px;
    left: 0px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 292px;
    border-radius: 7px;
    background-color: #F9FAFF;
    padding: 21px;
  }
  .about_two .contant .text h2 {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 28px;
    font-family: 'Nunito', sans-serif;
    text-align: center;
    letter-spacing: 0px;
    color: #6F8BA4;
  }
  .about_two .contant .img {
    border-radius: 7px;
    background-color: var(--brand);
    width: 100%;
    height: 235px;
    filter: drop-shadow(0px 2px 48px rgba(0, 0, 0, 0.08));
  }
  .about_two .contant .img img {
    border-radius: 7px;

    width: 100%;
    height: 235px;
 
  }


    /* ==================================
  ==================================
  ==about end========================
  
  ==================================
  ==========================*/


  /* ==================================
  ==================================
  ==contact========================
  
  ==================================
  ==========================*/
.contact .heading span {
	position: relative;
	top: -1px;
	left: 1px;
}
.contact .heading h1 {
	font-family: 'Nunito', sans-serif;
	font-style: normal;
	font-weight: 700;
	font-size: 36px;
	line-height: 49px;
	letter-spacing: 1px;
	padding-bottom: 50px;
	color: #000000;
	padding-right: 10px;
}

.contact .contact_content .input_button {
	display: flex;
	justify-content: center;
	width: 95%;
	height: 45px;
	background-color: #000000;
	margin-left: 0px;
	margin: 10px;
}


  /* ==================================
  ==================================
  ==contact end========================
  
  ==================================
  ==========================*/
  .header .nav .menu .nav-item ul {
    margin-top: 67px;
  }
  .section_foure .slider_pet .box .img {
    background-color: var(--brand);
    height: 134px;
    width: 100%;
   border-top-left-radius: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px;
  }
.section_three .details .two a {
	color: rgb(161, 156, 156) !important;
	margin-right: 8px;
	margin-bottom: 30px;
	font-family: 'Nunito', sans-serif;
	font-size: 12px;
}

  
  .header .header__toggle {
    font-size: 30px;
    cursor: pointer;
    padding-right: 20px;
    position: absolute;
    right: 5px;
    top: 14px;
  }
.section_one .left_side .box {
    height: 500px;
    width: 500px;
    position: absolute;
    top: 106px;
    left: -109px;
    z-index: -1;
}
  .section_one .left_side .box img{
    height: 500px;
    width: 200px;

    top: 106px;
    left: 238px;
    z-index: -1;
  }
  .section_one .left_side p {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #999999;
    font-family: 'Nunito', sans-serif;
    padding-right: 68px;
  }
  .header{
    position: fixed;
    z-index: 999999;
    background: rgba(255, 255, 255, 0.37);
    border-radius: 0px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(2.5px);
    -webkit-backdrop-filter: blur(2.5px);
  }
  .header .header__logo .logo img {
    width: 60px;
    margin-top: 16px;
  }
   .section_one {
    margin-top: 0px;
  }
  .section_one .left_side {
    margin-top: 114px;
  }

  .section_one .left_side h3 {
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 46px;
    color: #000000;
    font-family: 'Nunito', sans-serif;
    padding-right: 20px;
  }
  .section_one .left_side .book {

    margin-top: 19px;
    margin-bottom: 20px;
  }

  .section_one .right_radus {
    background-color: var(--brand);
    height: 145px;
    width: 348px;
    border-top-right-radius: 200px;
    border-top-left-radius: 200px;
    float: none;
    margin: auto;
  }

  .section_one .left_side {
    margin-top: 64px;
    padding: 10px;
  }

  .section_one .right_side {
    background-color: var(--brand);
    height: 305px;
    width: 348px;
    position: relative;
    float: none;
    margin: auto;
  }

  .section_three .banner {
	position: relative;
	height: 450px;
	width: 350px;
	background-color: var(--brand);
	border-top-right-radius: 60px;
	margin: auto;
}

  .section_one .right_side .animal_attack {
    position: relative;
    left: 4px;
    top: -70px;
  }

  .section_one .right_side .seal_batch {
    position: relative;
    right: -143px;
    top: -246px;
    width: 70px;
  }
  .section_two .heading h2 {
    text-align: center;
    font-style: normal;
    font-weight: 700;
    font-size: 23px;
    line-height: 32px;
    color: #000000;
    font-family: 'Nunito', sans-serif;
  }

  .section_two .slider .next-arrow {
    position: absolute;
    bottom: 184px;
    right: 0px;
    z-index: 111;
    color: #000000;
    font-size: 25px;
    padding: 9px 11px;
    transition: 0.3s;
    cursor: pointer;
    border-radius: 100px;
    background-color: #ffffff34 !important;
  }
  .section_two .slider {
    padding: -1px 30px;
  }
  .section_two .slider .previous-arrow {
    position: absolute;
    bottom: 184px;
    left: -4px;
    z-index: 111;
    color: #000000;
    font-size: 25px;
    padding: 9px 11px;
    transition: 0.3s;
    cursor: pointer;
    border-radius: 100px;
    background-color: #ffffff34 !important;
  }
  .section_three .banner {
    position: relative;
    height: 369px;
    width: 350px;
    background-color: var(--brand);
    border-top-right-radius: 108px;
    margin: auto;
  }
  .section_three .banner .img img {
    height: 283px;
    margin-left: 45px;
    width: 500px;
    width: 100%;
  }
  .section_three .banner .pets_icon2 {
    position: relative;
    bottom: 103px;
    left: 303px;
    /* display: none; */
  }
  .section_three .details .one h1 {
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    color: #000000;
    font-family: 'Nunito', sans-serif;
    margin-top: 48px;
  }
  .section_three .details .one h2 {
    font-style: normal;
    font-weight: 700;
    font-size: 23px;
    line-height: 41px;
    color: #000000;
    font-family: 'Nunito', sans-serif;
    padding-right: 17px;
  }
  .section_three .details .one p {
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    font-family: 'Nunito', sans-serif;
    color: rgb(161, 156, 156) !important;
    border-right: 2px solid white;
    margin-top: 14px;
    padding-right: 28px;
  }
  .section_three .details .two a {
    color: rgb(161, 156, 156) !important;
    margin-right: 0px;
    margin-bottom: 30px;
    font-family: 'Nunito', sans-serif;
    font-size: 12px;
  }
  .section_foure .heading h2 {
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 64px;
    color: #000000;
    font-family: 'Nunito', sans-serif;
  }

 
  .section_foure .slider_pet .box .img img {
    width: 85px;
  }
  .section_foure .slider_pet .box .img {
    background-color: var(--brand);
    height: 134px;
    width: 100%;
    border-radius: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 32px;
  }
  .section_foure .slider_pet .box .brand_button {
    margin-left: 49px;
    margin-top: 22px;
  }
  .section_foure .slider_pet .box h2 {
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    /* line-height: 131px; */
    color: #403d3d;
    font-family: 'Nunito', sans-serif;
    text-align: center;
    margin-top: 128px;
    margin-left: 55px;
  }
  .heading_large {
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    color: #000000;
    font-family: 'Nunito', sans-serif;
  }
  .section_three .banner .pets_icon {
    position: relative;
    top: -91px;
    left: -61px;
    width: 65px;
  }
  .section_six .image_slider .box img {
    width: 350;
    height: 268px;
    /* display: flex; */
    /* justify-content: center; */
    margin: auto;
  }
  .section_six {
    margin-top: 50px;
    margin-bottom: -3px;
  }
  .section_six .image_slider .box {
    margin-top: 60px;
    width: 557px;
    height: 232px;
  }
  .section_six .image_slider .box {
    margin-top: 60px;
    width: 557px;
    height: 232px;
  }
  .footer .three .heading {
    margin-left: 2px;
  }
  .section_foure .slider1 .previous-arrow {
    position: absolute;
    bottom: 109px;
    left: 7px;
    z-index: 111;
    color: #000000;
    font-size: 25px;
    padding: 9px 11px;
    transition: 0.3s;
    cursor: pointer;
    border-radius: 100px;
    background-color: #ffffff34 !important;
  }

  .section_foure .slider1 .next-arrow {
    position: absolute;
    bottom: 109px;
    right: 7px;
    z-index: 111;
    color: #000000;
    font-size: 25px;
    padding: 9px 11px;
    transition: 0.3s;
    cursor: pointer;
    border-radius: 100px;
    background-color: #ffffff34 !important;
  }

  .section_seven .slider2 .box .user .star a {
    color: var(--brand);
    margin-top: 30px;
    font-size: 7px;
  }
  .footer .one .input i {
    background-color: #53515157;
    padding: 10px 16px;
    border-radius: 9px;
  }



  .header .nav .menu .nav-item ul li {
    list-style: none;
    display: flex;
    align-items: center;
    margin-left: 82px;
    margin-top: 31px;
  }
  .header .nav .menu .nav_dropdown button {
    margin-left: -52px;
    font-size: 33px;
    margin-top: 20px;
    border: 2px solid rgba(0, 0, 0, 0) !important;
    background-color: rgba(255, 255, 255, 0) !important;
  }
  .header .nav .menu .list .num {
    color: #ffffff;
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
    margin-right: 3px;
    line-height: 50px;
    font-weight: 400;
    padding-right: 0px;
    display: block;
    background: var(--brand);
    height: 53px;
    width: 120px;
    text-align: center;
    border-radius: 7px;
    transition: 0.4s;
    cursor: pointer;
    margin-left: -16px;
    margin-top: -14px;
  }
  .section_one .right_side .pets_img img {
    left: 0px;
    position: absolute;
    top: 19px;
    width: 100%;
    height: 300px;
    z-index: 99;
  }
  .section_three .banner .pets_icon2 {
    position: relative;
    bottom: 82px;
    left: 5px;
    display: none;
  }
  .header {
    left: 0;
    width: 100%;
    height: var(--header-height);
    padding-bottom: 20px;
    background-color: rgba(255, 255, 255, 0);
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    border-bottom: 1px solid #0000001c;
 
  .header .nav .menu .nav-item ul {
    margin-top: 39px;
  }
   }